* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: rgba(83, 81, 81, 0.7);
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 40px;
  z-index: 1000;

}
.logo h2 {
  font-size: 20px;
  font-weight: bold;
  align-items: center;
}
body {
  height: 100vh;
  background: 
    linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
    url("images.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.container {
  width: 100%;
  padding: 20px;
}

.content {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.content p {
  font-size: 16px;
  opacity: 0.9;
  margin-bottom: 30px;
}

.subscribe-box {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.subscribe-box input {
  padding: 12px;
  width: 65%;
  border: none;
  outline: none;
  border-radius: 4px 0 0 4px;
}

.subscribe-box button {
  padding: 12px 20px;
  border: none;
  background: #ff9800;
  color: #fff;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}

.subscribe-box button:hover {
  background: #e68900;
}

.social-icons a {
  color: #fff;
  margin: 0 10px;
  font-size: 18px;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #ff9800;
}

/* Responsive */
@media (max-width: 600px) {
  .content h1 {
    font-size: 34px;
  }

  .subscribe-box {
    flex-direction: column;
  }

  .subscribe-box input,
  .subscribe-box button {
    width: 100%;
    border-radius: 4px;
  }

  .subscribe-box button {
    margin-top: 10px;
  }
}
